@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-prim: #14388c;
    --clr-sec: #52e0ae;
    --clr-prim-fade: #1946b0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #171614;
    color: #eeeeee;
    
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* Tshirt estrazione */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

/* IMPREVISTO TIMBRO */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;800;900&display=swap');
